section#roman {
    font-size: 50px;
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

section#arabic {
    padding: 1em;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#field {
  float:left;
  width:200px;
  height:31px;
  line-height:27px;
  text-indent:10px;
  font-family:arial, sans-serif;
  font-size:1em;
  color:#333;
  background: #fff;
  border:solid 1px #d9d9d9;
  border-top:solid 1px #c0c0c0;
}

/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */
#submit {
  cursor:pointer;
  width:100px;
  height: 31px;
  line-height:0;
  font-size:18;
  background: url(ico-search.png) no-repeat #4d90fe center;
  border: 1px solid #3079ED;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* Style the search button hover state */
#submit:hover {
  background: url(ico-search.png) no-repeat center #357AE8;
  border: 1px solid #2F5BB7;
}
/* Clear floats */
/*.fclear {clear:both}*/
